*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.wave1 {
  background-color: #30b1ce;
}
.wave2 {
  background-color: #29a4c3;
}
.wave3 {
  background-color: #318db2;
}
.wave4 {
  background-color: #046997;
}
.wave5 {
  background-color: #003b61;
}
html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}
thing {
  background-color: 123456;
}
.quad {
  width: 50%;
  height: 50%;
  display: table-cell;
  /*    position:fixed; width:50%; height:50%
*/
}
#q1 {
  top: 0;
  left: 50%;
  background-color: yellow;
}
#q2 {
  top: 0;
  left: 0;
  background-color: white;
}
#q3 {
  background-color: grey;
}
#q4 {
  background-color: #a0d6b4;
}
/* Portrait */
@media screen and (orientation: portrait) {
  /* in this layout height > width, so set shrink frame to width */
  #q1 {
    background-color: yellow;
  }
}
/* Landscape */
@media screen and (orientation: landscape) {
  /* in this layout height < width, so set shrink width to height */
  #q1 {
    background-color: #a0d6b4;
  }
}
/** container **/
.container {
  margin: 0 auto;
  max-width: 48rem;
  width: 100%;
}
/** columns **/
@media (min-width: 40rem) {
  .row {
    height: 50%;
  }
  .column {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .column.full {
    width: 100%;
  }
  .column.two-thirds {
    width: 66.7%;
  }
  .column.half {
    width: 50%;
  }
  .column.third {
    width: 33.3%;
  }
  .column.fourth {
    width: 25%;
  }
  .column.flow-opposite {
    float: right;
  }
}
/** clearfix **/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
/** flow opposite **/
@media (min-width: 40rem) {
  .column.flow-opposite {
    float: right;
  }
}
#convo .prompt {
  font-size: 2em;
  font-family: courier;
}
#convo .blink {
  animation: blink 1s steps(5, start) infinite;
  -webkit-animation: blink 1s steps(5, start) infinite;
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}
